---
import DemoComponent from "@components/DemoComponent/DemoComponent.svelte";
import { getLangSettings, locales } from "@translations/translationSettings";
import Layout from "src/layout/Layout.astro";

const { t } = getLangSettings(Astro.url);

type PathType = {
  params: {
    locale: string;
  };
};

export async function getStaticPaths() {
  const allPaths: PathType[] = [];
  for (const locale of locales) {
    allPaths.push({
      params: {
        locale: locale,
      },
    });
  }

  return allPaths;
}
---

<Layout title={t.title}>
  <div class="container">
    <h1>{t.wake_up}</h1>
    <DemoComponent client:load url={Astro.url} />
  </div>
</Layout>
