---
import DemoComponent from "@components/DemoComponent/DemoComponent.svelte";
import { getTranslate } from "astro-x-svelte-static-pages-generator";

import Layout from "src/layout/Layout.astro";

export const locales = ["en", "es"];

type PathType = {
  params: {
    locale?: string;
  };
};

export async function getStaticPaths() {
  const allPaths: PathType[] = [];
  allPaths.push({
    params: {
      locale: undefined,
    },
  });
  for (const locale of locales) {
    allPaths.push({
      params: {
        locale: locale,
      },
    });
  }

  return allPaths;
}
---

<Layout title={getTranslate("title", "titleFallback")}>
  <div class="container">
    <h1>{getTranslate("wake_up", "wake up fallback")}</h1>
    <DemoComponent client:only="svelte" />
  </div>
</Layout>
